* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


ul {
    list-style: none;
}

body {
    color: #444;
}

.all {
    background-color: red;
    width: 2600px;
    height: 3000px;
}

img {
    width: 300px;
}

